// main: ../cinnamon.styl
/* ===================================================================
 * Applets (applet.js)
 * ===================================================================*/
.applet-separator
  padding: 8px 8px

.applet-separator-line
  width: 2px
  background: rgba($text('base'),0.05)

.applet-box
  padding-left: 5px
  padding-right: 5px
  color: $text('base')
  $textShadow('base')

.applet-label
  font-weight: bold

.applet-box:hover > .applet-label

.applet-icon
  color: $text('base')
  icon-size: 18px
  $iconShadow('base')

.applet-box:hover .applet-icon
  // /* Broken with GNOME 3.14 (icon-size is not honoured)
 // 	icon-shadow: white 0px 0px 3px;
