// main: ../cinnamon.styl
/* ###################################################################
 * Section common with Gnome Shell
 * ... contains a few cinnamon specific styles (rare occurences)
 * ###################################################################*/
stage
  font-family: "Droid Sans", sans, sans-serif
  $text('base')

.cinnamon-link
  color: $link
  text-decoration: underline

.cinnamon-link:hover
  color: $link

.label-shadow
  color: $text()
