// main: ../cinnamon.styl
/* ===================================================================
 * Desklets (desklet.js)
 * ===================================================================*/
.desklet
  color: $text('for')

.desklet-with-borders
  padding: 10px
  color $text('for')
  -boxpointer-gap: 14px;
  background-blur: 5.0;
  $background('for')
  $textShadow('for')
  $iconShadow('for')

.desklet-with-borders-and-header
  padding: 10px
  border: 1px solid $border()
  $background('for')
  color $text('for')
  border-top: 1px
  border-radius-bottomleft: 5px
  border-radius-bottomright: 5px
  $boxShadow()
  $textShadow('for')
  $iconShadow('for')

.desklet-header
  border-radius-topleft: 5px
  border-radius-topright: 5px
  font-size: 9pt
  border: 1px solid $border()
  border-bottom: 0px
  $background('for')
  color: $text('for')
  padding: 5px
  $textShadow('for')
  $iconShadow('for')
  
.desklet-drag-placeholder
  border: 1px solid $link
  background-color: $color('sec')

/* ===================================================================
 * Clock Desklet (desklet.js)
 * ===================================================================*/
.clock-desklet-label{}
