// main: ../cinnamon.styl
/* ===================================================================
 * Desklets (desklet.js)
 * ===================================================================*/
.desklet
  color: $text('thi')

.desklet-with-borders
  padding: 10px
  border: 1px solid $border()
  $background('thi')
  color $text('thi')
  border-radius-bottomleft: 5px
  border-radius-bottomright: 5px
  border-radius-topleft: 5px
  border-radius-topright: 5px
  $boxShadow()

.desklet-with-borders-and-header
  padding: 10px
  border: 1px solid $border()
  $background('thi')
  color: $text('thi')
  border-top: 1px
  border-radius-bottomleft: 5px
  border-radius-bottomright: 5px
  $boxShadow()

.desklet-header
  border-radius-topleft: 5px
  border-radius-topright: 5px
  font-size: 9pt
  border: 1px solid $border()
  border-bottom: 0px
  $background('thi')
  color: $text('thi')
  padding: 5px
  $boxShadow()

.desklet-drag-placeholder
  border: 1px solid $link
  background-color: rgba(61, 155, 218, 0.3)

/* ===================================================================
 * Clock Desklet (desklet.js)
 * ===================================================================*/
// .clock-desklet-label
