// main: ../cinnamon.styl
/* ===================================================================
 * On screen keyboard
 * ===================================================================*/
#keyboard
  $background('thi',0.5)

.keyboard-layout
  spacing: 10px
  padding: 10px

.keyboard-row
  spacing: 15px

.keyboard-key
  min-height: 30px
  min-width: 30px
  $background('thi',0.8)
  font-size: 20pt
  border-radius: 2px
  border: 1px solid $border()
  color: $text()

.keyboard-key:grayed
  color: $text()
  $background('thi')

.keyboard-key:checked,
.keyboard-key:hover

.keyboard-key:active
  border: 1px solid $border()
  $background('thi')

.keyboard-subkeys
  color: $text()
  padding: 5px
  -arrow-border-radius: $radius()
  -arrow-background-color: $colorBase
  -arrow-border-width: 1px
  // -arrow-border-color: $border()
  -arrow-base: 20px
  -arrow-rise: 10px
  -boxpointer-gap: 5pxtyj
