// main: ../cinnamon.styl
/* ===================================================================
 * On screen keyboard
 * ===================================================================*/
#keyboard
  $backgroundBase(0.5)

.keyboard-layout
  spacing: 10px
  padding: 10px

.keyboard-row
  spacing: 15px

.keyboard-key
  min-height: 30px
  min-width: 30px
  $backgroundBase(0.8)
  font-size: 20pt
  border-radius: 2px
  border: 1px solid alpha($textColor,50%)
  $textColorBase()

.keyboard-key:grayed
  $textColorBase()
  $backgroundBase()

.keyboard-key:checked,
.keyboard-key:hover

.keyboard-key:active
  border: 1px solid $textColor
  $backgroundBase()

.keyboard-subkeys
  color: $textColorBase()
  padding: 5px
  -arrow-$borderRadius()
  -arrow-background-color: $colorBase
  -arrow-border-width: 1px
  -arrow-border-color: alpha($textColor,50%)
  -arrow-base: 20px
  -arrow-rise: 10px
  -boxpointer-gap: 5pxtyj
