// main: ../cinnamon.styl
/* ===================================================================
 * Looking Glass
 * ===================================================================*/
#LookingGlassDialog
  $background('thi')
  spacing: 4px
  padding: 4px
  border: 2px solid grey
  border-radius: 4px
  color: $text('thi')

#LookingGlassDialog > #Toolbar
  border: 1px solid grey
  border-radius: 4px

#LookingGlassDialog .labels
  spacing: 4px

#LookingGlassDialog .notebook-tab
  padding: 2px

#LookingGlassDialog .notebook-tab:hover
  color: $text('thi')

#LookingGlassDialog .notebook-tab:selected
  border: 1px solid $border('thi')
  border-radius: 4px
  padding: 5px

#LookingGlassDialog .lg-inspector-title
  font-weight: bold
  padding-bottom: 8px

.lg-dialog StLabel
  color: $text('thi')

.lg-dialog StEntry
  color: $text('thi')
  border-radius: 4px

.lg-obj-inspector-button:hover
  border: 1px solid $border('thi')

.lg-dialog .cinnamon-link
  color: $link

.lg-dialog .cinnamon-link:hover
  color: $linkHover

#LookingGlassDialog StBoxLayout#EvalBox
  padding: 4px
  spacing: 4px

#LookingGlassDialog StBoxLayout#ResultsArea
  spacing: 4px

#lookingGlassExtensions
  padding: 4px

.lg-extension-list
  padding: 4px
  spacing: 6px

.lg-extension
  border: 1px solid $border('thi')
  border-radius: 4px
  padding: 4px

.lg-extension-name
  font-weight: bold

.lg-extension-meta
  spacing: 6px

#LookingGlassPropertyInspector
  $background('thi')
  border: 2px solid grey
  border-radius: 4px
  padding: 6px
  color: $text('thi')
