// main: ../cinnamon.styl
/* ===================================================================
 * Modal dialogs
 * ===================================================================*/
.modal-dialog
  font-size: 9pt
  border-radius: $radius()
  $background('thi',0.8)
  // border: 1px solid $border()
  color: $text()
  padding-right: 30px
  padding-left: 30px
  padding-bottom: 30px
  padding-top: 30px
  $boxShadow()

.modal-dialog-button-box
  spacing: 21px

.modal-dialog-button
  border-radius: 3px
  font-size: 9pt
  color: $text()
  margin-left: 10px
  margin-right: 10px
  padding: 5px 20px 5px

.modal-dialog-button:disabled
  color: $text()

.modal-dialog-button:focus
  color: $text()
