// main: ../cinnamon.styl

/* ===================================================================
 * Shared button properties
 * ===================================================================*/
.notification-button,
.notification-icon-button,
.modal-dialog-button
  color: $text('thi')
  border: 1px solid $border()
  border-radius: 2px
  $background('thi')

.notification-button:hover,
.notification-icon-button:hover,
.modal-dialog-button:hover

.notification-button:focus,
.notification-icon-button:focus,
.modal-dialog-button:focus
  border: 1px solid $border()

.notification-button:active,
.notification-icon-button:active,
.modal-dialog-button:active,
.modal-dialog-button:pressed
  $background('thi')
