// main: ../cinnamon.styl

/* ===================================================================
 * Notifications
 * ===================================================================*/
#notification
  font-size: 9pt
  border-radius: 4px
  border: 1px solid $textColor
  $nofication_background()
  box-shadow: #000 0px 8px 12px 0px
  padding: 8px 8px 8px 8px
  spacing-rows: 10px
  spacing-columns: 10px
  margin-from-right-edge-of-screen: 20px
  width: 34em
  $textColorBase()

#notification.multi-line-notification
  padding-bottom: 8px
  $textColorBase()

/* We use row-span = 2 for the image cell, which prevents its height preferences to be
	taken into account during allocation, so its height ends up being limited by the height
	of the content in the other rows. To avoid showing a stretched image, we set the minimum
	height of the table to be ICON_SIZE + IMAGE_SIZE + spacing-rows = 24 + 125 + 10 = 159 */
.notification-with-image
  min-height: 159px
  $textColorBase()

#notification-scrollview
  max-height: 10em

#notification-scrollview > .top-shadow,
#notification-scrollview > .bottom-shadow
  height: 1em

#notification-scrollview:ltr > StScrollBar
  padding-left: 6px

#notification-scrollview:rtl > StScrollBar
  padding-right: 6px

#notification-body
  spacing: 5px

#notification-actions
  spacing: 10px

.notification-button
  border-radius: 2px
  padding: 4px 8px 5px

.notification-button:focus
  padding: 3px 8px 4px

.notification-icon-button
  $borderRadius()
  padding: 5px

.notification-icon-button:focus
  padding: 4px

.notification-icon-button > StIcon
  icon-size: 36px

#notification StEntry
  padding: 4px
  border-radius: 3px
  color: $notification_color
  border: 1px solid #bfbfbf
  $backgroundBase()
  $boxShadow()
  selection-background-color: $textColor
  selected-color: $textColor
  caret-color: $textColor
  caret-size: 1px

#notification StEntry:focus
  border: 1px solid $textColor
  $boxShadow()
  $backgroundBase()
  selected-color: $textColor
  selection-background-color: $textColor
