// main: ../cinnamon.styl

/* ===================================================================
 * Shared button properties
 * ===================================================================*/
.notification-button,
.notification-icon-button,
.modal-dialog-button
  $textColorBase()
  border: 1px solid $textColor
  border-radius: 2px
  $backgroundBase()

.notification-button:hover,
.notification-icon-button:hover,
.modal-dialog-button:hover

.notification-button:focus,
.notification-icon-button:focus,
.modal-dialog-button:focus
  border: 1px solid lightness($textColor,20%)

.notification-button:active,
.notification-icon-button:active,
.modal-dialog-button:active,
.modal-dialog-button:pressed
  $backgroundBase()
