// main: ../cinnamon.styl

/* ===================================================================
 * Overview corner
 * ===================================================================*/
#overview-corner
  background-image: url("hotcorner.svg")

#overview-corner:hover
  background-image: url("hotcorner.svg")
