// main: ../cinnamon.styl
/* ===================================================================
 * Panel Launchers Applet (panelLaunchers.js)
 * ===================================================================*/
#panel-launchers-box

.panel-launcher
  margin: 1px
  padding: 4px
  transition-duration: 200


.panel-launcher:hover

.panel-launcher-add-dialog-content-box,
.panel-launcher-add-dialog-content-box-left,
.panel-launcher-add-dialog-content-box-right
  $background('sec',$alphaBase())
