// main: ../cinnamon.styl
/* ===================================================================
 * Panel (panel.js)
 * ===================================================================*/
#panel
  color: $text('base')
  $textShadow('base')
  font-weight: normal
  height: 35px
  $background('base')

#panelLeft, #panelCenter
  spacing: 4px

#panelLeft:dnd
  background-color: rgba(0,172,22,.54)
#panelCenter:dnd
  background-color: rgba(255,252,0,.67)
#panelRight:dnd
  background-color: rgba(0,110,172,.54)

#panelLeft:ltr, #panelLeft:rtl
  padding-right: 4px

#panelRight:ltr, #panelRight:rtl
  padding-left: 0px
  spacing: 0px

.panel-top, .panel-bottom

.panel-status-button
  -natural-hpadding: 5px
  -minimum-hpadding: 5px
  font-weight: bold
  color: $text('base')
  height: 30px

.panel-status-button:hover
  color: $text('base')

.system-status-icon
  padding-left: 0px
  padding-right: 0px
  spacing: 0px
  margin: 0px

.panel-corner
  -panel-corner-radius: 0px
  -panel-corner-background-color: black
  -panel-corner-inner-border-width: 2px
  -panel-corner-inner-border-color: transparent
  -panel-corner-outer-border-width: 1px
  -panel-corner-outer-border-color: $border('base')

.panel-corner:active,
.panel-corner:overview,
.panel-corner:focus
  -panel-corner-inner-border-color: rgba(255,255,255,0.8)

#appMenu
  spacing: 4px

.panel-button #appMenuIcon
  app-icon-bottom-clip: 1px

.panel-button:active #appMenuIcon,
.panel-button:checked #appMenuIcon,
.panel-button:focus #appMenuIcon
  app-icon-bottom-clip: 2px

.panel-button
  -natural-hpadding: 6px
  -minimum-hpadding: 2px
  font-weight: bold
  color: $text('base')
  $textShadow('base')

.panel-button:hover

.panel-button:active,
.panel-button:overview,
.panel-button:focus

.panel-button:active > .system-status-icon,
.panel-button:checked > .system-status-icon,
.panel-button:focus > .system-status-icon
  $iconShadow('base')

.panel-menu
  -boxpointer-gap: 0px

.popup-menu-item-dot

.system-status-icon
  icon-size: 18px
  $iconShadow('base')
