// main: ../cinnamon.styl
/* ===================================================================
 * PopupMenu (popupMenu.js)
 * ===================================================================*/
.popup-menu-boxpointer
  -arrow-border-radius: $radius()
  -arrow-background-color: $color('thi')
  -arrow-border-width: 1px
  -arrow-border-color: $border('thi')
  -arrow-base: 25px
  -arrow-rise: 11px
  -arrow-color: $text('thi')


.popup-menu
  color: $text('thi')
  font-size: 9pt
  min-width: 100px
  background-blur: 2.5;

.popup-submenu-menu-item:open
  background-color: lightness($color('thi'),40%)

.popup-sub-menu
  $background('thi')
  color: $text('thi')

.popup-sub-menu .popup-menu-item:ltr
  padding-right: 0em

.popup-sub-menu .popup-menu-item:rtl
  padding-left: 0em

.popup-sub-menu StScrollBar
  padding: 4px

.popup-sub-menu StScrollBar StBin#trough
  border-width: 0px

.popup-sub-menu StScrollBar StBin#vhandle
  background-color: lightness($color('thi'),10%)
  border-width: 0px

.popup-combo-menu
  background-color: $color('thi')
  padding: 1em 0em
  color: $text('thi')
  font-size: 9pt
  border: 1px solid $borde('thi')
  border-radius: $radius()

/* The remaining popup-menu sizing is all done in ems, so that if you
 * override .popup-menu.font-size, everything else will scale with it.
 */
.popup-menu-content
  padding: 1em 0em

.popup-menu-item
  padding: .5em 2em
  spacing: 1em

.popup-menu-item:active
  background-color: $color('sec')
  color: $text('sec')

.popup-menu-item:insensitive
  background-color: $color('sec')
  color: $text('sec')

.popup-image-menu-item
  color: $text('thi')

.popup-combobox-item
  spacing: 1em

.popup-separator-menu-item
  height: 1px
  background-color: lightness($color('thi'),40%)

.popup-alternating-menu-item:alternate
  font-weight: bold

.popup-slider-menu-item
  height: 1em
  min-width: 15em
  -slider-height: 4px
  -slider-background-color: lightness($color('thi'),40%)
  -slider-border-color: transparent
  -slider-active-background-color: lightness($color('thi'),20%)
  -slider-active-border-color: transparent
  -slider-border-width: 0px
  -slider-color: $text('thi')
  -slider-handle-radius: $radius() //0.5em

.popup-device-menu-item
  spacing: .5em

.popup-inactive-menu-item
  font-weight: normal
  color: lightness($color('thi'),40%)

.popup-subtitle-menu-item
  font-weight: bold

.popup-menu-icon
  icon-size: 16px

/* Switches (to be used in menus) */
.toggle-switch
  width: 64px
  height: 22px

.toggle-switch-us
  background-image: url("switch.png")

.toggle-switch-us:checked
  background-image: url("switch-on.png")

.toggle-switch-intl
  background-image: url("switch.png")

.toggle-switch-intl:checked
  background-image: url("switch-on.png")

.nm-menu-item-icons
  spacing: .5em
