// main: ../cinnamon.styl:hover

StScrollBar
  padding: 0px

StScrollView.vfade
  -st-vfade-offset: 68px

StScrollView StScrollBar
  min-width: 4px
  min-height: 4px

StScrollBar StBin#trough
  background-color: rgba(0,0,0,0)
  border-radius: 2px

StScrollBar StButton#vhandle
  $background('sec',0.8)
  border-radius: 2px

StScrollBar StButton#hhandle
  $background('sec',0.8)
  border-radius: 2px

StScrollBar StButton#hhandle:hover,
StScrollBar StButton#vhandl:hover
  display: none
