// main: ../cinnamon.styl

#Tooltip
  border-radius: 2px
  padding: 5px 10px
  $backgroundBase(0.8)
  $textColorBase()
  $textShadowBase()
  $fontSizeBase()
  font-weight: normal
  text-align: center
