// main: ../cinnamon.styl
/* ===================================================================
 * User Applet
 * ===================================================================*/
.user-icon
  background-color: #fff
  border: $size solid $border()
  border-radius: 4px
  padding: 52px
  margin: 1000px
  spacing: 1em

.user-label
  font-size: 16px
  color: #333
  spacing: 100em

.user-box
  padding-left: 30px
  padding-right: 30px
  padding-top: 10px
