// main: ../cinnamon.styl
/* ===================================================================
 * User Applet
 * ===================================================================*/
.user-icon
  background-color: #fff
  $borderBase()
  border-radius: 4px
  padding: 2px

.user-label
  $textColorBase()
  font-size: 16px

/* OSD popup */
.info-osd
  text-align: center
  font-size: 18pt
  $backgroundBase(0.8)
  $textColorBase()
  $borderRadius()
  box-shadow: #000 0px 8px 12px 0px
  padding: 20px
  spacing: 1em

.osd-window
  $backgroundBase(0.8)
  $textColorBase()
  $borderRadius()
  box-shadow: #000 0px 8px 12px 0px
  padding: 20px
  spacing: 1em

.osd-window .level
  height: 8px
  border-radius: 4px
  background-color: #aaa

.tile-preview,
.tile-hud
  background-color: rgba(85, 85, 85, 0.5)
  border: 2px solid rgba(134, 134, 134, 0.8)

.tile-preview.snap,
.tile-hud.snap
  background-color: rgba(134, 134, 170, 0.5)
  border: 2px solid rgba(85, 85, 85, 0.8)

.tile-hud:top
  border-top-width: 0px
  border-radius: 0px 0px 8px 8px

.tile-hud:bottom
  border-bottom-width: 0px
  border-radius: 8px 8px 0px 0px

.tile-hud:left
  border-left-width: 0px
  border-radius: 0px 8px 8px 0px

.tile-hud:right
  border-right-width: 0px
  border-radius: 8px 0px 0px 8px

.tile-hud:top-left
  border-top-width: 0px
  border-left-width: 0px
  border-radius: 0px 0px 8px 0px

.tile-hud:top-right
  border-top-width: 0px
  border-right-width: 0px
  border-radius: 0px 0px 0px 8px

.tile-hud:bottom-left
  border-bottom-width: 0px
  border-left-width: 0px
  border-radius: 0px 8px 0px 0px

.tile-hud:bottom-right
  border-bottom-width: 0px
  border-right-width: 0px
  border-radius: 8px 0px 0px 0px
