// main:  ../cinnamon.styl
/* ===================================================================
 * Sound Applet (status/volume.js)
 * ===================================================================*/

// .sound-button-container
//   padding-right: 3px
//   padding-left: 3px
//
// .sound-track-cover
//   padding: 10px 0px
//
// .sound-button
//   width: 20px
//   height: 20px
//   $borderBase()
//   border-radius: 2px
//   padding: 5px
//   $backgroundBase()
//
// .sound-button:hover
//
// .sound-button:active
//   $backgroundBase()
//   border: 1px solid #b8b8b8
//
// .sound-button StIcon
//   icon-size: 12px
//
// .sound-track-infos
//   padding-left: 5px
//   padding-right: 5px
//   padding-top: 5px
//   padding-bottom: 5px
//
// .sound-track-info
//   padding-top: 2px
//   padding-bottom: 2px
//
// .sound-track-info StIcon
//   icon-size: 12px
//
// .sound-track-info StLabel
//   padding-left: 5px
//   padding-right: 5px
//
// .sound-track-box
//   padding-left: 15px
//   padding-right: 15px
//   max-width: 220px
//
// .sound-seek-box
//   padding-left: 20px
//
// .sound-seek-box StLabel
//   padding-top: 2px
//
// .sound-seek-box StIcon
//   icon-size: 12px
//
// .sound-seek-slider
//   width: 140px
//
// .sound-volume-menu-item
//   padding: .4em 1.75em
//
// .sound-volume-menu-item StIcon
//   icon-size: 12px
//   padding-left: 8px
//   padding-right: 8px
//
// .sound-playback-control
//   padding-top: 5px
//   padding-bottom: 10px
//   padding-left: 10px
//   padding-right: 10px
