// main: ../cinnamon.styl
/* ===================================================================
 * Window list (windowList.js)
 * ===================================================================*/
.window-list-box
  spacing: 0px
  padding-left: 0px
  padding-top: 0px

.window-list-item-label
  width: 15em
  min-width: 5px

.window-list-item-box
  color: $text('base')
  padding-left: 5px
  padding-right: 5px
  transition-duration: 100
  // font-size 15px 
  // border: 2px solid transparent
.create_icon_texture

.window-list-item-box:hover
  background: saturation($color('sec'),20%)
  color: $text('sec')


.window-list-item-box:active,
.window-list-item-box:checked,
.window-list-item-box:focus
  color: $text('sec')
  font-weight: bold
  $background('sec',$alphaBase() * 1.5)


.window-list-item-demands-attention
  $background('thi',0.5)
