// main: ../cinnamon.styl
/* ===================================================================
 * Workspace Switcher applet (workspaceSwitcher.js)
 * ===================================================================*/
#workspaceSwitcher
  spacing: 0px
  padding: 3px

.workspace-button
  width: 20px
  height: 10px
  color: #fff
  border: 0px
  box-shadow: black 1px 1px 1px 0px
  padding: 2px
  margin: 5px
  spacing: 10px
  transition-duration: 300

.workspace-button:outlined
  font-weight: bold
  font-size: 11pt
