// out: ../cinnamon.css

@import "variables.styl"

/* ###################################################################
 * Section common with Gnome Shell
 * ... contains a few cinnamon specific styles (rare occurences)
 * ###################################################################*/
stage
  font-family: "Droid Sans", sans, sans-serif
  color: $text('base')

.cinnamon-link
  color: $link
  text-decoration: underline

.cinnamon-link:hover
  color: $link

.label-shadow
  color: $text()

@import "includes/*.styl"
// @import "includes/a*.styl"
// @import "includes/b*.styl"
// @import "includes/d*.styl"
// @import "includes/l*.styl"
// @import "includes/m*.styl"
// @import "includes/n*.styl"
// @import "includes/o*.styl"
// @import "includes/p*.styl"
// @import "includes/r*.styl"
// @import "includes/s*.styl"
// @import "includes/t*.styl"
// // @import "includes/u*.styl"
// @import "includes/v*.styl"
// @import "includes/w*.styl"
