//main: cinnamon.styl
backgroundColor($color1, $color2 = false, $gradient = vertical)
   if $color2 && $gradient
      background-gradient-direction: $gradient
      background-gradient-start: $color1
      background-gradient-end: $color2
   else
      background-color: $color1
