// main: cinnamon.styl

$link = #1B2F5D
$colorBase = rgba(41,41,41,1)
$colorSecond = rgba(17,205,194,1)
$colorThird = rgba(255,255,255,1)

$linkHover = lightness($link,20%)

$color($type)
   if $type == 'base'
      return $colorBase
   else if $type == 'second' || $type == 'sec'
      return $colorSecond
   else if $type == 'third' || $type == 'thi'
      return $colorThird

$text($type = 'base')
   if $dark($type) > 0
      return #ffffff
   else
      return #333333

$dark($type = 'base')
   $color = $color($type)

   if alpha($color) < 0.5
      return 1

   if luminosity($color) <= 0.3
     return 2
   if luminosity($color) < 0.6
      return 1
   return 0

$border()
   return invert($color('base'),50%)

$fontSizeBase()
   font-size: 9pt

$textShadow($type = 'base')
   if $dark($type) == 1
      text-shadow: black 1px 1px 5px 1px

$boxShadow(blur = 12px)
   box-shadow: #000 0px 8px blur 0px

$iconShadow($type = 'base')
    if $dark($type) == 1
      icon-shadow: black 1px 1px 5px 1px

$background($type,alpha = false)
   $color = $color($type)
   if alpha
      backgroundColor(rgba($color,alpha))
   else
      backgroundColor($color)

$radius()
   3px

$alphaBase()
   if alpha($color('base')) <= 0.1
      return 50
   return (alpha($color('base')) * 1.3)

backgroundColor($color1, $color2 = false, $gradient = vertical)
   if $color2 && $gradient
      background-gradient-direction: $gradient
      background-gradient-start: $color1
      background-gradient-end: $color2
   else
      background-color: $color1
